.articlePreguntas{
    background-color: rgb(36, 25, 53);
    min-height: 450px;
  }
  
  .faq-container {
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 4px 50px -8px rgba(237, 215, 215, 0.3);
    margin: 45px auto;
    font-family: "Inter", sans-serif;
    color: rgb(244, 238, 255);
    line-height: 1.9;
  }

  article {
    position: relative;
    height: 76vh; 
    background-color: #5f587f;

  }
  
  .faq-container .question-container {
    border-bottom: 1px solid #eee;
  }
  
  .faq-container .question {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-size: 22px;
    font-weight: bold;
    padding: 16px 24px;
    cursor: pointer;
  }
  
  
  
  .faq-container .answer {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    margin: 8px 0;
    padding-bottom: 25px;
  }
  
  
  .faq-container .answer-container {
    padding: 0px 32px;
    background: rgb(75, 59, 112);
    max-height: 0;
    overflow: hidden;
    transition: all 100ms ease;
  }
  
  .faq-container .question-container.expanded .answer-container {
    max-height: 500px;
    padding: 8px 32px;
  }

  