/* registroFinanciero.css */

.sectionRegistro {
  background-color: #393158; 
  padding: 30px; 
  height: 80vh; 
}

.tituloRegistro {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.formularioRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
  max-width: 450px;
  border: 2px solid #5d5abe; /* Agrega un borde */
  background-color: #c4bcda;
  border-radius: 8px; /* Añade bordes redondeados */
  padding: 20px; /* Incrementa el espacio interno */
}

.campoFormulario {
  width: 100%;
}

.campoFormulario label {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* Gap between label and input */
  font-weight: bold;
  /* Bold font for labels */
  color: #121213;
  width: 100%;
}

.formularioRegistro label {
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start;
  gap: 10px; /* Gap between label and input */
  font-weight: bold; /* Bold font for labels */
  color: #0c0c0c;
}

.formularioRegistro input,
.formularioRegistro select,
.formularioRegistro [type="date"] {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Ancho completo para que ocupe todo el contenedor */
  box-sizing: border-box;
  margin-bottom: 10px; /* Remove margin for better alignment */
}

.formularioRegistro button {
  padding: 12px 20px;
  background-color: #1fc7d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
}

.formularioRegistro button:hover {
  background-color: #0056b3;
}

.formularioRegistro label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.formularioRegistro input[name="precio"] {
  width: calc(10% - 16px); /* Ajustar el ancho del input de precio */
}


.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}