@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Estilos para poder sobreescribir todo*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /*background-color: #ADC5D9;*/
    font-family: 'Montserrat', sans-serif;
}

li,
a,
button {
    font-weight: 600;
    font-size: 16px;
    color: #0D0D0D;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    background-color: #42C7D9;
}


.logo {
    cursor: pointer;
    width: 230px;
    height: 50px;
    margin-right: auto;
    object-fit: cover;
}

.linksDelNav {
    list-style: none;
}

.linksDelNav li {
    /*Nos sirve para poder poner de forma horizontal los bloques*/
    display: inline-block;
    padding: 0px 20px;
}

.linksDelNav li,
a:hover {
    color: aquamarine;
}

.linksDelNav li,
a {
    transition: all 0.3s ease 0s;
}

button {
    padding: 10px;
    margin-left: 18px;
    border-radius: 10px;
    background-color: #F9C70E;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #f2cd5e9d;
}

/*Portada Principal*/
main {
    background-color: #9cbeda;
    /* Lo usamos porque nos queda espacios en blanco al final */
    min-height: 100vh;
}


.portadaPrincipal {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    height: auto;
}

.textoPortada {
    width: 100%;
    padding-right: 100px;
    text-align: center;

}

.textoPortada h1 {
    font-size: 50px;
    color: #0D0D0D;
    margin-bottom: 5px;
    text-align: center;
}

.textoPortada p {
    text-align: center;
    font-size: italic;
}

.textoPortada button {
    margin-left: 0px;
    margin-top: 50px;
}

.imagenPortada {
    width: 100%;
    text-align: center;
}

.imagenPortada img {
    width: 630px;
}

footer {
    background-color: #42C7D9;
    text-align: center;
    padding: 25px 0;
}

.imgIconosFooter{
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px;
}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    margin-right: 10px;
}
/* FORMULARIO ESTILOS */
.linkLogo {
    margin-right: auto;
}

.articleFormulario {
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 500px; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto;
}

form {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.bodyFormulario {
    background-color: #9cbeda;
}

.footerFormulario {
    position: absolute;
    bottom: 0;
    width: 100%;
}



.logoFormulario {
    text-align: start;
    width: 230px;
    height: 50px;
    object-fit: cover;
    margin-right: 320px;
}

/* FORMULARIO LOGIN ESTILOS */
.sectionFormularioLogin {
    
    align-items: center;
    background-color: #42C7D9;
}

.sectionFormularioLogin__form{

    border-radius: 20px;
    background-color: #ADC5D9;
    margin: 20px auto; /* Ajusta el margen superior e inferior según tus necesidades */
    border-style: solid;
    padding: 70px;
    max-width: 400px;
    position: relative;
    height: 360px;

}

.sectionFormularioLogin__form label{
    margin-bottom: 10px; /* Ajusta el margen inferior de las etiquetas */
    display: block;
}
.sectionFormularioLogin__form input,
.sectionFormularioLogin__form button {
    margin-bottom: 15px; /* Ajusta el margen inferior de los campos de entrada y el botón */
    width: 100%;
    margin-left: 0px;
    
}


.sectionFormularioLogin__form button:hover {
    background-color: #f2cd5e9d;
}


.formLogin {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 6px 50px ;
    position: relative;
    
    
}


.mainLogin {
    background-color: #42C7D9;
    /* Lo usamos porque nos queda espacios en blanco al final */
    min-height: 100vh;
    max-height: 80vh;
}

.centerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Establece la altura del contenedor al 100% de la altura de la ventana gráfica */
}


/* FORMULARIO REGISTRO ESTILOS */
.formRegistro{
    background-color: #ADC5D9;
    border-style: solid;
    border-color: #0D0D0D;
    width: 500px;
    border-radius: 20px;
}

.mainFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


/* ESTILOS Q&A */
.preguntasYRespuestas{

    border-radius: 20px;
    background-color: #ADC5D9;
    margin: 30px 150px;
    border-style: solid;

}

.PYRH2{
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 300px;
    margin-left: 40px;
    margin-top: 15px;
    background-color: whitesmoke;

}

.itemPYR{
    margin: 40px;
    list-style: none;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    background-color: whitesmoke;
}

.itemPYR h3{
    margin-bottom: 10px;
}